
__pycache__/gradient_operators.cpython-36.pyc

__pycache__/object_scan.cpython-36.pyc

__pycache__/proximal_operators.cpython-36.pyc

__pycache__/proximal_solvers.cpython-36.pyc

.idea/workspace.xml

axial_coronal.png

gt_axial.png

gt_coronal.png

gt_sagital.png

gt_sample/gt_0.png

gt_sample/gt_1.png

gt_sample/gt_2.png

gt_sample/gt_3.png

gt_sample/gt_4.png

gt_sample/gt_5.png

gt_sample/gt_6.png

gt_sample/gt_7.png

gt_sample/gt_8.png

gt_sample/gt_9.png

pred__axial.png

pred__coronal.png

pred__sagital.png

proj_0.png

proj_1.png

proj_2.png

proj_3.png

rec_sample/rec_0.png

rec_sample/rec_1.png

rec_sample/rec_2.png

rec_sample/rec_3.png

rec_sample/rec_4.png

rec_sample/rec_5.png

rec_sample/rec_6.png

rec_sample/rec_7.png

rec_sample/rec_8.png

rec_sample/rec_9.png

sirt_100_projs_sample_coronal.png

sirt_300_projs_sample_coronal.png

sirt_4_projs_sample_coronal.png

sirt_axial.png

sirt_coronal.png

sirt_sagital.png

SlicerCapture-GT.gif

SlicerCapture-SIRT.gif
